*{
    text-align: right;
}


  

h2 {
    color: #030000;
    cursor: pointer;
    text-align: center;
    font-size: xx-large;
}
li {
    list-style: none;
    display: inline-block;
}


.webtext:first-child{
    border: 8px dashed green;
}
.webtext2:last-child{
    
    border: 5px  dashed red;
}
#div1{
    background: rgba(0, 0, 255, 0.3);
}